.properties_list{
    border:3px dashed #e3e3e3;
    margin:30px 0;
    padding:30px 55px;
}
.left-col{
    padding:30px 30px; 
}
@import '../components/_index_property_box.scss'; 
@import '../components/_main_nav.scss'; 
