nav{
    width:100%;
    padding:10px 0;
    background-color:#000;
    text-align:center;
    ul{
        li{
            font-size:30px;
            color:#fff;
            text-transform: uppercase;
        }
    }
}
